################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarathaBusinessApi/MarathaBusinessApi/obj/Debug
